<% if(config.search.enable){ %>
<div class="container" id="search">
  <div class="search-title">
    <h2><%= page.title %></h2>
  </div>
    <div class="search-box">
        <input
          type="text"
          class="search-input"
          id="search-input"
          placeholder="search..."
        />
    </div>
  <section class="posts" id="search-result"></section>
  <p class="no-result">No results found</p>
</div>
<% } %>