.archive-main  {
  .archive-title {
    font-size: 1.0em;
    text-align: center;
    margin: 50px 0 20px 0;
  }
  .archive-meta {
  	font-size: 0.8em;
    color: #BABABA;
    text-align: center;
    margin-bottom: 10px;
  }
  .archive-content{
  	margin: 30px 0;
  }
}
#toc{
	z-index: 9999; 
  top: 150px;
  right: 20px;
  position:fixed;    
  width: 240px; 
  height: calc(100% - 200px);
  overflow-wrap: break-word;
  overflow-y: scroll;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}
#toc::-webkit-scrollbar {
    display: none;
}
.archive-toc{
	font-size: 0.875em;
	padding-left: 20px;
	border-left: 1px solid #1abca5;
}
.toc-child{
	margin-left: 1em;
} 
.toc-child a{
	color: #969896;
} 
.toc-child a:hover{
	color: #e04f5f;
} 

.times
  margin: 0 20px;
.times ul {
    margin-left: 25px;
    border-left: 1px solid #EEEEEE;
}
.times ul li {
    width: 100%;
    margin:  0 0 5px -12px;
    font-weight: narmal;
}
.times ul li b {
    width: 4px;
    height: 4px;
    background: #fff;
    border: 1px solid #DDDDDD;
    margin: 13px 10px 0 8.5px
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    overflow: hidden;
    display: inline-block;
    float: left;
}
.times ul li:hover b {
    border: 2px solid #e04f5f;
    margin: 12px 9px 0 7.5px
}
.times ul li:hover span {
    color: #e04f5f;
}
.times ul li span {
    padding-left: 20px;
    font-size: 1em;
    line-height: 30px;
    color: #555;
}