.box-tags, .box-links ul {
  list-style: none;
  width: auto;
  overflow: hidden;
}

.box-links li {
  float: left;
  padding: 10px;
  border: 1px dashed #E6E6E6;
  margin: 10px;
  background: #FBFBFB;
  display: block;
}

.box-links li:hover {
  background-color: #e04f5f;
  border: 1px dashed #e04f5f;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
}

.box-links li a {
  font-size: 0.875em;
  color: #969696;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.box-links li a:hover {
  color: #FFFFFF;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
