.search-title
  text-align: center;
  margin: 2rem 0 1rem 0;

.search-box
  margin: 0 20px;

.search-input
  height: 2rem
  border: 1px dashed #E6E6E6
  outline: none
  display: block
  padding: 0.5rem 1.5rem
  width: 100%
  background: #FBFBFB

#search-result ul.search-result-list {
  list-style-type:none;
  padding: 0px;
}
#search-result li {
  margin: 2em auto;
  border-bottom: 2px solid #2bbc8a;
}
#search-result .search-result-list li:hover {
  color:#eee
}
#search-result a.search-result-title {
  line-height: 1.2;
  font-weight: bold;
}
#search-result p.search-result {
  max-height: 10em;
  margin: 0 0 1rem 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre-line;
  text-align: justify;
}
#search-result em.search-keyword {
  color: #f58e90;
  border-bottom: 1px dashed #f58e90;
  font-weight: bold;
}
p.no-result {
  display: none;
  padding: 0 1rem 1rem 1rem
  margin: 0 20px
  color: #888888
}